<table class="donations-table">
  <thead>
    <tr>
      <th>ID de Don</th>
      <th>ID Utilisateur</th>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Titulaire de la Carte</th>
      <th>Numéro de Carte</th>
      <th>CVV</th>
      <th>Date d'Expiration</th>
      <th>Montant</th>
    </tr>
  </thead>
  
    <tbody >
      <!-- Use *ngFor to iterate over the donnations array -->
      <tr *ngFor="let don of donnations">
        <td *ngIf="don.id">{{ decrypt(don.id) }}</td>
        <td *ngIf="don.id">{{ decrypt(don.userID) }}</td>
        <td *ngIf="don.id">{{ decrypt(don.userFirstName) }}</td>
        <td *ngIf="don.id">{{ decrypt(don.userLastName) }}</td>
        <td *ngIf="don.id">{{ decrypt(don.cardHolder) }}</td>
        <td *ngIf="don.id">{{ decrypt(don.cardNum) }}</td>
        <td *ngIf="don.id">{{ decrypt(don.cvv) }}</td>
        <td *ngIf="don.id">{{ decrypt(don.expiryDate) }}</td>
         
        <td *ngIf="don.id">{{ decrypt(don.montant) }}</td>
        
        
        
      </tr>
    </tbody>
  </table>
  
