<header class="header-bar">
  <!-- Toggle Button -->
  <button class="toggle-button" (click)="toggleSidebar()">
    &#9776; <!-- Unicode for the three-line "hamburger" icon -->
  </button>

  <!-- Logo and Title -->
  <div class="photo">
    <img src="../../assets/logo.png" class="logo" alt="logo">
  </div>

  <div class="site-title">
    Red Crescent Organization <!-- Nom du site -->
  </div>

  <!-- Header Buttons -->
  <div class="header-buttons">
    <button class="header-button" (click)="openDon()">faire un don</button>
    <button *ngIf="!isLogin" class="header-button" (click)="openLogin()">se connecter</button>
    
    <button *ngIf="isLogin" class="header-button" (click)="openUser()">compte</button>
    <button *ngIf="!isLogin" class="header-button" (click)="openSingUp()">créer un compte</button>
  </div>
</header>
<div class="sidebar" [class.visible]="isSidebarVisible">
 <app-side-nav></app-side-nav> 
</div>
<div *ngIf="isSidebarVisible" class="sidebar-overlay" (click)="toggleSidebar()"></div>