<div class="card-container">
    <!-- Carte 1 -->
    <div class="card">
      <div class="bg"></div>
      <div class="blob"></div>
      <div class="card-content">
        <h2 class="card-title" [routerLink]="'/don'" style="cursor: pointer;">Faire un Don</h2>
        <img src="../../assets/don.png" alt="Donation Icon" class="card-image" />
      </div>
    </div>
  
    <!-- Carte 2 -->
    <div class="card">
      <div class="bg"></div>
      <div class="blob"></div>
      <div class="card-content">
        <h2 class="card-title" [routerLink]="'/devenir-secouriste'" style="cursor: pointer;">Devenir un Secouriste</h2>
        <div class="photo"><img src="assets/rescuer-icon.png" alt="" class="card-image" /></div>
        <img src="../../assets/rescuer-icon.png" alt="" class="card-image" />
      </div>
    </div>
  
    <!-- Carte 3 -->
    <div class="card">
      <div class="bg"></div>
      <div class="blob"></div>
      <div class="card-content">
        <h2 class="card-title" [routerLink]="'/formations'" style="cursor: pointer;">Nos Formations</h2>
        <img src="../../assets/training-icon.png" alt="Training Icon" class="card-image" />
      </div>
    </div>
  </div>
  