<div class="login-root">
    <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
      <div class="loginbackground box-background--white padding-top--64">
        <div class="loginbackground-gridContainer">
          <div class="box-root flex-flex" style="grid-area: top / start / 8 / end;">
            <div class="box-root" style="background-image: linear-gradient(white 0%, rgb(247, 250, 252) 33%); flex-grow: 1;">
            </div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 4 / 2 / auto / 5;">
            <div class="box-root box-divider--light-all-2 animationLeftRight tans3s" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 6 / start / auto / 2;">
            <div class="box-root box-background--blue800" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 7 / start / auto / 4;">
            <div class="box-root box-background--blue animationLeftRight" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 8 / 4 / auto / 6;">
            <div class="box-root box-background--gray100 animationLeftRight tans3s" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 2 / 15 / auto / end;">
            <div class="box-root box-background--cyan200 animationRightLeft tans4s" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 3 / 14 / auto / end;">
            <div class="box-root box-background--blue animationRightLeft" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 4 / 17 / auto / 20;">
            <div class="box-root box-background--gray100 animationRightLeft tans4s" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 5 / 14 / auto / 17;">
            <div class="box-root box-divider--light-all-2 animationRightLeft tans3s" style="flex-grow: 1;"></div>
          </div>
        </div>
      </div>
      <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
        <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
          <h1>croissant rouge</h1>
        </div>
<div class="form-container">
    <form (ngSubmit)="onSubmit()">
        <h1>Créer un Nouveau Compte</h1>
        
        <label>Nom : <input type="text" [(ngModel)]="user.nom" name="nom" required></label>
        <label>Prénom : <input type="text" [(ngModel)]="user.prenom" name="prenom" required></label>
        <label>Occupation : <input type="text" [(ngModel)]="user.occupation" name="occupation" required></label>
        <label>Âge : <input type="number" [(ngModel)]="user.age" name="age" required min="15"></label>
        
        <label>Niveau d'étude : 
            <select [(ngModel)]="user.niveauEtude" name="niveauEtude" required>
                <option value="" disabled selected>Choisissez votre niveau d'étude</option>
                <option>Bac</option>
                <option>Licence</option>
                <option>Master</option>
                <option>Doctorat</option>
                <option>Autre</option>
            </select>
        </label>
        
        <label>Adresse e-mail : <input type="email" [(ngModel)]="user.email" name="email" required></label>
        <label>Numéro de téléphone : <input type="text" [(ngModel)]="user.telephone" name="telephone" required></label>
        
        <label>Gouvernorat :
            <select [(ngModel)]="user.gouvernorat" (change)="updateCities()" name="gouvernorat" required>
                <option value="" disabled selected>Choisissez votre gouvernorat</option>
                <option *ngFor="let gov of governorates" [value]="gov">{{ gov }}</option>
            </select>
        </label>
        
        <label>Ville :
            <select [(ngModel)]="user.ville" name="ville" required>
                <option value="" disabled selected>Choisissez votre ville</option>
                <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
            </select>
        </label>
        <label>mot de passe : <input type="text" [(ngModel)]="user.mdp" name="mdp" required></label>
        <label>confirmer le mot de passe : <input type="text" [(ngModel)]="user.mdp1" name="mdp1" required></label>
        
        <label>Avez-vous un certificat de premiers secours ?</label>
        <label><input type="radio" [(ngModel)]="user.certificat" (change)="toggleCertificateUpload(true)" name="firstAid" value="oui"> Oui</label>
        <label><input type="radio" [(ngModel)]="user.certificat" (change)="toggleCertificateUpload(false)" name="firstAid" value="non"> Non</label>

        <div *ngIf="showUpload" class="certificate-upload">
            <label>Photo du certificat : <input type="file" (change)="onFileChange($event)"></label>
        </div>

        <button type="submit">Créer mon compte</button>
    </form>
</div>
