<h1>liste de dons d'argent</h1>
<app-don-list-mon></app-don-list-mon>
<h1>liste de dons physique</h1>
<app-don-list-phy></app-don-list-phy>
<h1>liste du messages</h1>
<app-list-message></app-list-message>
<h1>ajouter un article</h1>
<app-add-article></app-add-article>
<h1>liste des articles</h1>
<app-liste-article-admin></app-liste-article-admin>
<h1>ajouter une formation</h1>
<app-addformation></app-addformation>
<h1>liste des formation</h1>
<app-liste-formation-admin></app-liste-formation-admin>

<button routerLink="/main">retourné </button>