<body>
    

<h2>association a but non lucratif</h2>
<p><span class="crt">Le Croissant Rouge Tunisien</span> est une organisation d'interet public , 
    crée le 7 octobre 1956, et reconnue par décret du 6 mai 1957 comme organisation bénévole 
    d'aide et de secours auxiliaire des pouvoirs publics dans le domaine humanitaire ,
     conformément aux conventions de genéve de 1949 et ses protocoles additionnels. 
     <span class="crt"> Croissant Rouge Tunisien </span> est devenu membre du mouvement international 
    de la <span class="crt"> croix rouge et du croissant rouge</span> le 13 septembre 1957 </p>
    <div class="container">
        <div class="skill-box">
          <span class="title">Commité Regioneaux</span>
      
          <div class="skill-bar">
            <span class="skill-per html">
              <span class="tooltip">21</span>
            </span>
          </div>
        </div>
      
        <div class="skill-box">
          <span class="title">Comités locaux</span>
      
          <div class="skill-bar">
            <span class="skill-per scss">
              <span class="tooltip">244</span>
            </span>
          </div>
        </div>
        <div class="skill-box">
          <span class="title">volontaires actifs</span>
      
          <div class="skill-bar">
            <span class="skill-per Boostrap">
              <span class="tooltip">2570</span>
            </span>
          </div>
        </div>
      </div>
      <div class="photo">
      <img src="../../assets/crt.jpeg" alt="">    </div>
 </body>