
<div class="container">
  <div class="form">
    <label>Name: {{ user.nom }}</label><br>
    <label>First Name: {{ user.prenom }}</label><br>
    <label>Occupation: {{ user.occupation }}</label><br>
    <label>Age: {{ user.age }}</label><br>
    <label>Education Level: {{ user.niveauEtude }}</label><br>
    <label>Email: {{ user.email }}</label><br>
    <label>Telephone: {{ user.telephone }}</label><br>
    <label>Governorate: {{ user.gouvernorat }}</label><br>
    <label>City: {{ user.ville }}</label><br>
    <button (click)="closeModal()" class="login-button">close</button>
    <button (click)="logOut()" class="login-button">logOut</button>
  
  <button *ngIf="user.is_add" class="login-button" (click)="openAdd()" routerLink="/adminCont">admin Control</button>
</div>
</div>



